 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


header{
  background:url(../images/alice-in-wonderland-06.png);
  height:35px;
  color:white;
  font-size:30px;

}

.header-font-change{
  font-family: 'Josefin Sans', sans-serif;
  font-size:30px;
}
 
.mouseenter-practice{

  
  width:200px;
  background-color:pink;
  color:white;
  clear:both;
  display:inline-block; 
  font-size:12px;
  margin-left:50px;

}

input{
  font-family: 'Amatic SC', cursive;
  margin:0;
}


.keydown-practice{
  border-radius:100px;
  height:100px;
  background-color:black;
  float:left;
  display:inline-block;
  color:white;
  font-size:12px;
  padding-top:40px;
  width:100px;
  text-align:center;
  margin-right:100px;
}

.click-practice{
  float:right;
  background-color:white;
  font-size:12px;
}



.replace-practice{
  width:200px;
  text-align:center;
  font-family: 'Josefin Sans', sans-serif;
  display:inline-block;
  float:right;
  margin-bottom:100px;
 
}

img{
  width:60px;
  margin-right:50px;
}

.img-container{
  width:60px;
  float:right;
  margin-right:50px;
  text-align:center;
  font-size:12px;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom:50px
}

.input{
  margin:50px;
}
